[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
schedule = "*"
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}

[packages]
biplist = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
